numpy
torch
tqdm
tensorboard
torchvision
timm
einops
opencv-python
requests
pandas
matplotlib
Pillow
psutil
nvidia-ml-py
thop
fvcore
python-dotenv
GPUtil
scipy
visin>=0.2  # visin.Datasets
pydantic>=2
